#flask     
#Flask-Login
#Flask-Mail
#Flask-WTF
#py-postgresql
#SQLAlchemy
requests
pycryptodome
Flask-SQLAlchemy
Flask-API
#flask-user<1.0
flask-user
Flask-Cors
Flask-Migrate
Flask-Script
psycopg2
#pg8000
#psycopg2cffi